<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- https://stackoverflow.com/questions/7711750/how-to-reference-a-bean-of-another-xml-file-in-spring -->

    <bean id="studentXml" class="com.csaba79coder.demo.tobeanornottobean.model.xml.Student">
        <!-- <property name="anotherBean" ref="thatOtherBean"/> -->
    </bean>

</beans>